
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="favicon.ico">

   <title>First Rest App</title>

   <!-- Foreign Scripts -->
   <script src="bower_components/jquery/dist/jquery.min.js"></script>
   <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-route/angular-route.js"></script>
   <script src="bower_components/ngstorage/ngStorage.js"></script>
   <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>

   <!-- AngularJS App -->
   <!-- // <script src="app.js"></script> -->

   <!-- Styles -->
   <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   <link href="bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet" type="text/css">
   <!-- <link href="app.css" rel='stylesheet' type='text/css'> -->

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body data-ng-cloak>
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">First Rest App</a>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               <li data-ng-hide="token"><a ng-href="#/auth/login">Login</a></li>
               <li data-ng-hide="token"><a ng-href="/auth/register">Register</a></li>
               <li data-ng-show="token"><a ng-href="#/" ng-click="logout()">Logout</a></li>
            </ul>
         </div>
      </div>
   </div>

   <div class="container" style="padding-top: 80px;">
      <div data-ng-view id="ng-view"></div>
   </div>

   <div class="hidden" style="display: none; visibility: hidden">
      <!-- Load custom scripts via RequireJS -->
      <script src="resources/assets/scripts/require.js" data-main="main"></script>
   </div>
</body>
</html>
