<!-- home.html -->
<div class="jumbotron text-center">
   <h1>Welcome to LaraApp Home Page</h1>
   <span ng-repeat="msg in message">
      <p>{{ msg }}</p>
   </span>
</div>

<div>
   <h3>Todo List</h3>
   <table class="table">
      <tr>
         <th>Id</th>
         <th>Title</th>
         <th>User ID</th>
      </tr>
      <tr ng-repeat="todo in todoList">
         <td>{{todo.id}}</td>
         <td>{{todo.title}}</td>
         <td>{{todo.list_id}}</td>
      </tr>
   </table>
</div>