<div>
   <h3>User</h3>
   <table class="table">
      <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Email</th>
         <th>Created At</th>
         <th>Updated At</th>
      </tr>
      <tr ng-repeat="u in user">
         <td>{{u.id}}</td>
         <td>{{u.name}}</td>
         <td>{{u.email}}</td>
         <td>{{u.created_at}}</td>
         <td>{{u.updated_at}}</td>
      </tr>
   </table>
</div>